<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="BuildAutomationEntities" connectionString="metadata=res://*/DBEntities.BuildAutomation.csdl|res://*/DBEntities.BuildAutomation.ssdl|res://*/DBEntities.BuildAutomation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=syncanalytics.cloudapp.net,2913;initial catalog=buildautomationdb;user id=Install;password=3SPAbhtk4V;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SyncfusionAnalyticsEntities" connectionString="metadata=res://*/DBEntities.SyncfusionAnalytics.csdl|res://*/DBEntities.SyncfusionAnalytics.ssdl|res://*/DBEntities.SyncfusionAnalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=syncanalytics.cloudapp.net,2913;initial catalog=SyncfusionAnalytics;user id=Install;password=3SPAbhtk4V;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="syncdbEntities" connectionString="metadata=res://*/DBEntities.SyncfusionWebsite.csdl|res://*/DBEntities.SyncfusionWebsite.ssdl|res://*/DBEntities.SyncfusionWebsite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=syncfusiondb.eastus.cloudapp.azure.com,8754;initial catalog=syncdb;user id=Website;password=HfrXcU6F;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="port" value="587" />
    <add key="buildinbox" value="buildautomation@syncfusion.com" />
    <add key="postmasterID" value="AKIAJMNE62WIFKEIFNVQ" />
    <add key="postmasterPWD" value="wylPqE2YWr11cAZgbeY/bOVsKgVRoH7PP3qFieDC" />
    <add key="postmasterEmail" value="AutoMailer@syncfusion.com" />
    <add key="Web-Admin" value="chnbuild@syncfusion.com" />
    <add key="DT-Admin" value="" />
    <add key="mercury_SMTPServer" value="smtp.office365.com" />
    <add key="mercury_port" value="587" />
    <add key="mercuryID" value="buildautomation@syncfusion.com" />
    <add key="mercuryPWD" value="Coolcomp299" />
    <add key="TemplatPath" value="D:\Syncfusion\Trunk\webdt\Syncfusion.WebDT.Application\Content\" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK" publicKeyToken="9f476d3089b52be3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.55.0" newVersion="2.3.55.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>