<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="port" value="587" />
    <add key="buildinbox" value="buildautomation@syncfusion.com" />
    <add key="postmasterID" value="AKIAIXFYGWLDHXZOZF7Q"/>
    <add key="postmasterPWD" value="f8Xiw8n3RRPWzywoSfTZJTZ3LGVXJHv3v/Hr4Lps"/>
    <add key="postmasterEmail" value="AutoMailer@syncfusion.com" />
    <add key="Web-Admin" value="chnbuild@syncfusion.com" />
    <add key="DT-Admin" value="" />
    <add key="mercury_SMTPServer" value="smtp.office365.com"/>
    <add key="mercury_port" value="587"/>
    <add key="mercuryID" value="buildautomation@syncfusion.com"/>
    <add key="mercuryPWD" value="Coolcomp299"/>
  </appSettings>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>alwfK2ga/A6iAj3MleQsJCwOsiCJ+ZrIbhFTKTZZfR5HGb8i0K5+f9DQ4ezgkuTR2MTBfsbcqEq65nkQXP95/Wro5Vo9B2dyC0ymfpYuJkayfdtjL4+gQyg+AQgn/fkrYEkVnVK8XLyq1gTgehdWuAeJe+3WmtngbnetEb1JG4Y=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>0KKNlD6rWGqjov+CK+hxOF3FaX0QuVl34YpGCxya5u+bWYTYrq4vl63neZHbjVkmmwWNK1wjCKJsvQ5uW330YYJBHMHuRdF5/DsiIT9wFtAsU8LlHgbPfpiNhKXtBYl1yXImTbq+zrLG27cPKmrEHb+j6xfKF4pZW8omwciRX12r2uo2sF294nHVLWIvhH5L1ngxYt3Cbr7d9F9NWyUaD5FKQKmmM6nUhtEqsqTi9p4h1b11lHOzOPE4YyItNK82jtUObq9S3tdAfoE9fOJ9cD+3JJvzfMszWbEG9Nq0IEExdItrsM0JK4QwSo1w6TSGIg01578CnG8vp2vHWCIh6pjiPDhCjHriM4hHDYw2KHqDxhTpw156B5VQr3OvhdJHx4C420AVwkHoQQUaPwxOJkMZ7j1U9paVOqktWJd0Z1XeeK99KOSGgI8RODvgPaiT/+iEVZ1MS9kGjpKl5JBRNLtb1Z/2lM+P9FlEi9kRkCidp0DivFN5qJ6TzNyUV6fLZ7KZX6809cu2KSQ2sI/Bwo7nW32c83cPCNtXtPLsPTDjecJZUtLnn1pO3I8AQL06WzDZJ/bTriq/f8mTcHeynbWauG+5vcC3iQG+QhiBPx3Wz435zInNbL6TQ0llVe5G2G7ThB83FlwHPrY5hmvlMVXkX1J/KypcX3uFcurZR2uVpFQ2IO50CaKfYvRDdc1T</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <configProtectedData>
<providers>
<remove name="RSAProtectedConfigurationProvider" />
<add keyContainerName="RSAKeys" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="RsaProtectedConfigurationProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
</providers>
</configProtectedData>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>