<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
   <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>

     <add key="port" value="587"/>
     <add key="buildinbox" value="buildautomation@syncfusion.com"/>
     <add key="postmasterID" value="AKIAJ5W3G2Z6F2ZHAREQ"/>
	 <add key="postmasterPWD" value="E7HsW/NWPVljoVBwfQp5fXdMCOK37qwx+U1geVRG"/>
     <add key="postmasterEmail" value="AutoMailer@syncfusion.com"/>
     <add key="Web-Admin" value="chnbuild@syncfusion.com"/>
     <add key="DT-Admin" value="chnbuild@syncfusion.com"/>
     <add key="mercury_SMTPServer" value="smtp.office365.com"/>
     <add key="mercury_port" value="587"/>
     <add key="mercuryID" value="buildautomation@syncfusion.com"/>
     <add key="mercuryPWD" value="Coolcomp299"/>
    <add key="TemplatePath" value="C:\Work\Tools\SVNRevoke\Template\"/>
     <add key="supportinbox" value="buildautomation@syncfusion.com" />
  </appSettings>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>QzYPPcufKFGDKc8FK3LHrYaSHLZrPKxmqiZzWplMXtUPnE7TEFSzXvZalZUJu68dEWIb9LhZaJ7Y+lcS9FQAO1iSB2ZBnNSrK5b1YFu7F4UcdPzNZwRUcXSK9vA7kKDc6ddZKpi3yaLkXAu+Lsh32s21C6VTlvr+z43m7A3zpaY=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>1lthqac1IO8rvaoMlUauviyBFtjy/R2XRHKuuaRoTZ9d6Janmz9gqID/lEe/CnmlIf8mfXDuTRSP8MbhixvKdmYrV3Dwl0/Qsr23QBOMuFrZ3chQs2Uel1tvFaPE1JupXq0wE+UkwFEtBZSxGPs4mi8cToFKajbZcB+yx8rLSp1z1Ai6s3iybe9jrNJN84B1v2jQGFtWMYIWm2j5kM8rFXlCNI2LklST5V4EiVx+0nMBgnnpb/4037tPCKaFz5iScZD97Rc4Cjf/XdQBL2iSvMahahbVHA20rT22KGepRaqumDem+FEl89A4TAym4FPkie61DAB/dGD7EZP37LnFWnZgbFU5vLddZf4AwudBPJY+KlbFNKUhHrRU8L4Y5y2s/KZUhPv5jYTHDNm/yVYPJb/Q8B0WpG4/nxm3W+nsE99oBGKWur1tN2qJc6GXJDI9grVa9rmq2/zigq2Uhowrv/0Er97iJOLBMCI+juS6I4t4IBtl7+myw9UIJ1pvt1iZzCxuyNMcek7sykw2JMCJ6j4do0wLbyAV7QkBjt7ypSQYEMTXcnUGZuFaKvQXGK4c6uEzX+Hk7xwCQVSHOQW5UB3THMQ1DDj8/ylBSqZ17VB7bB2JuEi0GhQhhzoohQDnTN76+0o7lFWpIyf14Z0Cpi2voXnrBJuj+jBd/V/x9xatq553QYPmKzZK5dP3+wic</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
	<configProtectedData>
<providers>
<remove name="RSAProtectedConfigurationProvider" />
<add keyContainerName="RSAKeys" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="RsaProtectedConfigurationProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
</providers>
</configProtectedData>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
