<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
   <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>

     <add key="port" value="587" />
     <add key="buildinbox" value="buildautomation@syncfusion.com" />
     <add key="postmasterID" value="AKIAIXFYGWLDHXZOZF7Q"/>
    <add key="postmasterPWD" value="f8Xiw8n3RRPWzywoSfTZJTZ3LGVXJHv3v/Hr4Lps"/>
     <add key="postmasterEmail" value="AutoMailer@syncfusion.com" />
     <add key="Web-Admin" value="chnbuild@syncfusion.com" />
     <add key="DT-Admin" value="" />
     <add key="mercury_SMTPServer" value="smtp.office365.com"/>
     <add key="mercury_port" value="587"/>
     <add key="mercuryID" value="buildautomation@syncfusion.com"/>
     <add key="mercuryPWD" value="Coolcomp299"/>
    <add key="TemplatPath"  value="D:\Syncfusion\Trunk\webdt\Syncfusion.WebDT.Application\Content\"/>
  </appSettings>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>nH82JoW3fogv0NncufeQrfq6MhiQ8WlxQlzT94MiYtoG5D5+nfeKRGSxv9VhTW5zZBJ0C1Sk6GeS3HRkWxaVQHVi03LyKxkJdaOOFredBlwyyQY60gwwBdX4ArEGVb5br72AUqwpV6fN4LjllIT30bfWNx99w60C8lvWw/ubHV4=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>gXVL2/qQ0G+BNnSGSJcVjDqgHEQbbW54JulY4kVU/u8g2EbnwP0ydmMT0yyaOR7bBjblzkmjWxCpCcjc1PbUncmw/cFg617jKLcoG5NHh+eKBRDaQgjd2yDcFiH4ks0LxbcquRQHYYm5nC3dsqN7RF8BXmypKy6m3fGIoXHKx+/Ocrdp28CMzuos80MoJq8cMyGEzjzi6h6EeHrUe4+btiMTrnwWR/CpeyNo6Om+qoy1mXQGYj4vZ4A9yGW+MqYuWtcWWe+HJ3jtRT36OjaNbYqXSaWfk4L2/mito66XkhHzxfJRWrw3vkp6IyTsdVtvHnrZKNynFA+z1KHgl8MVQ5+LzldGhGfX564SCsptiAbAI6kNSkZEuR7z3wuDVW9jsNNa+ITERW+fvSLIyovNQzdmtehHQSDA2gNLkhSaKewKZKFH7AfPQDjW6VdcQr+duBWI714kBOH5xmIIqlH9KEWx1Nz5PA1w0zse9tZ/BZpPe2IyxMhl4br4JoUHdc/Mk9+Y+vGsHaKbNa9yPb8bxjpDAiKO+rmLo1U4+YIaSr+Ih65pksKbytPFcJFyejG193FZCnRgsnqjS5/Y9SZvIHyOMeNppWcb+drmGTxZeQYwcFQsScrRzQUteB52WvNZs0qAZqyGqgO1XWfVlyFuz74VcxYzpt4zV30aOaYIVfmnQJmc464pVvs3p29lNY5e</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
	<configProtectedData>
<providers>
<remove name="RSAProtectedConfigurationProvider" />
<add keyContainerName="RSAKeys" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="RsaProtectedConfigurationProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
</providers>
</configProtectedData>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>