<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>

    <add key="port" value="587" />
    <add key="buildinbox" value="buildautomation@syncfusion.com" />
    <add key="postmasterID" value="AKIAJ5W3G2Z6F2ZHAREQ"/>
	<add key="postmasterPWD" value="E7HsW/NWPVljoVBwfQp5fXdMCOK37qwx+U1geVRG"/>
    <add key="postmasterEmail" value="AutoMailer@syncfusion.com" />
    <add key="Web-Admin" value="chnbuild@syncfusion.com" />
    <add key="DT-Admin" value="" />
    <add key="mercury_SMTPServer" value="smtp.office365.com"/>
    <add key="mercury_port" value="587"/>
    <add key="mercuryID" value="buildautomation@syncfusion.com"/>
    <add key="mercuryPWD" value="Coolcomp299"/>
    <add key ="TemplatPath" value="D:\Syncfusion\Trunk\webdt\Syncfusion.WebDT.Application\Content\"/>
  </appSettings>
  <connectionStrings>


    <add name="BuildAutomationEntities" connectionString="metadata=res://*/BuildAutomation.csdl|res://*/BuildAutomation.ssdl|res://*/BuildAutomation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=45.76.15.212,4858;initial catalog=BuildSyncfusion;user id=BuildSyncfusionAdmin;password=VF$#%fkjGHgh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
