<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CustomerEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=syncfusiondb.eastus.cloudapp.azure.com,8754;initial catalog=syncdb;user id=Install;password=p9H9kDwy;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SupportEntities" connectionString="metadata=res://*/Support.SupportEntities.csdl|res://*/Support.SupportEntities.ssdl|res://*/Support.SupportEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=syncfusiondb.eastus.cloudapp.azure.com,8754;Initial Catalog=syncdb;Persist Security Info=True;User ID=Install;Password=p9H9kDwy;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ScriptEntities" connectionString="metadata=res://*/ScriptEntities.csdl|res://*/ScriptEntities.ssdl|res://*/ScriptEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=syncfusiondb.eastus.cloudapp.azure.com,8754;initial catalog=DTSyncdbTestRP;User ID=Install;Password=p9H9kDwy;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
